<!DOCTYPE html>
<html>
<head>
  <title>Final Project</title>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/js/main.js"></script> 
</head>
<body>
  <button id="playlists">Playlist</button>
  <button id="releases">New Releases</button>
  <button id="categories">Categories</button>
  <div id="contents">
  </div>
</body>
</html>

