<!DOCTYPE html>
<html>
<head>
  <title>WorldWide Spotify</title>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/js/main.js"></script> 
    <a href="/bootstrap/dist/css/bootstrap.css"></a>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="styleIndex.css">
</head>
<body>
  <div class="jumbotron">
  <div class="container">
  <h1>WorldWide Spotify</h1>
  <h2>Welcome to a world of music at your fingertips...</h2>
  <p>Ever wanted to know what people are listening to in other countries, well now you can. <strong>Worldwide Spotify</strong> allows you to pick from a selection of countries and listen to the top playlists and new releases.Music is updated in realtime so you will constantly have the lastest tunes at your fingertip.</p>
  <p>An account with Spotify is necessary to use this app.</p>
  <p>Click the button below and then the authorize linke to sign-in to your spotify account.</p> 
  <button id="authorize">Sign in to Spotify</button>
  <p>Dont have Spotify? Create an account <a href="https://www.spotify.com/">Here</a>
  </div>
  </div>
</body>
</html>