<!DOCTYPE html>
<html>
<head>
  <title>Final Project</title>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/js/main.js"></script> 
</head>
<body>
  <!-- <button id="artists">artists</p> -->
  <button id="authorize">Authorize</button>
  <button id="playlists">Playlist</button>
  <button id="releases">New Releases</button>

</body>
</html>