<!DOCTYPE html>
<html>
<head>
  <title>WorldWide Spotify</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="semantic-ui/dist/semantic.min.js"></script>
  <script src="/js/main.js"></script> 
  <script src="/js/australia.js"></script>
  <script src="/handlebars/handlebars.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="semantic-ui/dist/semantic.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Asap:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="container">
    <img src="http://static-5.app4smart.me/i/icon/240/f2x/mnc/ipz/spotify-music.png" height= '60' width='60'>      
    <h1>WorldWide Spotify</h1>
    <img src="/images/spotify.png">
    <h1> Welcome to WorldWide Spotify</h1>
    <p> The way this works is that you select the country in which you want to listen to music in and then pick a category to get a list of playlists or just listen to the new releases. Music is updated in realtime so you will always have access to the lastest music! Enjoy!</p>
    <p>Sign out of <a href="https://www.spotify.com/">Spotify</a></p>
  </div> 

  <div id="ui twelve top-attatched buttons">
    <button class="ui button country" data-country_code="US" id="usa"><img src="/images/usa.png">U.S.A</button>
    <button class="ui button country" data-country_code="GB" id="gb"><img src="/images/uk.png">U.K</button>
    <button class="ui button country" data-country_code="SE" id="sweden"><img src="/images/sweden.png">Sweden</button>
    <button class="ui button country" data-country_code="FR" id="france"><img src="/images/france.png">France</button>
    <button class="ui button country" data-country_code="ES" id="spain"><img src="/images/spain.png">Spain</button>
    <button class="ui button country" data-country_code="DE" id="germany"><img src="/images/germany.png">Germany</button>
    <button class="ui button country" data-country_code="TK" id="turkey"><img src="/images/turkey.png">Turkey</button>
    <button class="ui button country" data-country_code="BR" id="brazil"><img src="/images/brazil.png">Brazil</button>
    <button class="ui button country" data-country_code="AU" id="australia"><img src="/images/australia.png">Australia</button>
    <button class="ui button country" data-country_code="MX" id="mexico"><img src="/images/mexico.png">Mexico</button>
    <button class="ui button country" data-country_code="CO" id="colombia"><img src="/images/colombia.png">Colombia</button>
    <button class="ui button country" data-country_code="SG" id="singapore"><img src="/images/singapore.png">Singapore</button>
  </div>

  
  <div id="allContents"></div>
  <div id="allCategories"></div>
  <div id="allPlaylists"></div>
 

    <script type="x-template">
    <div id="headerReleases"></div>     
    <div id="contents">
    </div>
    <div id="categoriesContainer">
      <div id="headerCategories"></div>
      <div id="categoriesContent"></div>
      <div id="categoriesPlaylists"></div>
    </div>
    </script>
  

  <script type="x-template" id="spotify-iframe">
    <iframe src="https://embed.spotify.com/?uri={{uri}}&view=coverart" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </script>

  <script type="x-template" id="spotify-categories">
    <ul>{{id}}</ul>
  </script>


 
</body>   
</html>