<!DOCTYPE html>
<html>
<head>
  <title>Final Project</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/js/main.js"></script> 
  <script src="/js/gb.js"></script>
  <script src="/js/sweden.js"></script>
  <script src="/js/france.js"></script>
  <script src="/js/germany.js"></script>
</head>
<body>
  <p>Click the Country you want to listen to music in</p>
  <button id="usa">U.S.A</button>
  <button id="uk">Great Britain</button>
  <button id="sweden">Sweden</button>
  <button id="france">France</button>
  <button id="germany">Germany</button>
  <button id="brazil">Brazil</button>
  <button id="australia">Australia</button>
  <button id="mexico">Mexico</button>
  <button id="singapore">Singapore</button>
  <div id="contents">
  </div>
  <div id="categoriesContainer">
  </div>
</body>
</html>