<!DOCTYPE html>
<html>
<head>
  <title>WorldWide Spotify</title>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/js/main.js"></script> 
  <script src="/js/gb.js"></script>
  <script src="/js/sweden.js"></script>
  <script src="/js/france.js"></script>
  <script src="/js/germany.js"></script>
  <script src="/js/spain.js"></script>
  <script src="/js/turkey.js"></script>
  <script src="/js/brazil.js"></script>
  <script src="/js/australia.js"></script>
  <script src="/js/mexico.js"></script>
  <script src="/js/colombia.js"></script>
  <script src="/js/singapore.js"></script>
</head>
<body>
  <h1>Welcome to WorldWide Spotify</h1>
  <p>The way this works is that you select the country in which you want to listen to music in and then pick a category to get a list of playlists or just listen to the new releases. Music is updated in realtime so you will always have access to the lastest music!</p>
  <button id="usa">U.S.A</button>
  <button id="uk">Great Britain</button>
  <button id="sweden">Sweden</button>
  <button id="france">France</button>
  <button id="germany">Germany</button>
  <button id="spain">Spain</button>
  <button id="turkey">Turkey</button>
  <button id="brazil">Brazil</button>
  <button id="australia">Australia</button>
  <button id="mexico">Mexico</button>
  <button id="colombia">Colombia</button>
  <button id="singapore">Singapore</button>
  <div id="contents">
  </div>
  <div id='categoriesContainer'>
  </div>
  <div id="blah">
  </div>
</body>
</html>